.carregando {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid white;
    border-bottom: transparent;
    animation: ModoCarregando 1s infinite linear;
}

.btnfiltro{
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10%;
}

@keyframes ModoCarregando {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}

.alertas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    position: absolute;
    bottom: 2%;
    left: 45%;
    z-index: 1000000;
    border-radius: 10px;
}

.sucess{
    background-color: #0666f1;
    color: white;
}
.error{
    background-color: red;
    color: white;
    animation: outColor .5s forwards;
    animation: inColor .5s;
}
.warning{
    background-color: orange;
    animation: outColor .5s;
    animation: inColor .5s;
}

.tela-cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    z-index: 5000;
    width: calc(100% - 230px);
    min-height: 100vh;
    background-color: white;
    & .tela-cadastrar-carregando{
        display: inline-block;
        background-color: aquamarine;
        height: 50px ;
        width: 50px;
        border-radius: 50%;
        animation: efeitoCarregando .7s infinite;

    }
}

@keyframes efeitoCarregando{
    0%{
        box-shadow: 0 0 0 green;
    }
    100%{
        box-shadow: 0 0 50px rgba(0, 128, 0, 0.4);
    }
}

@media screen and (max-width: 530px) {
    .tela-cadastrar{
        width: 100%;
    }

    .esconder{
        display: none;
    }

    .btnfiltro{
        display: inline-block; 
    }

    .alertas{
        width: 80%;
        left: 10%;
    }

    
}